
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
body {
	margin: 0;
	font-family: 'Fira Code', monospace;
	font-size: 20px;
	line-height: 1.5;
	color:#eeeeee;
	background-color: #232931;
}
button{
	font-size: 12px;
}
a {
	text-decoration: none;
}
.folder {
	color: #4ecca3;
}
.not-selected:hover, .selected {
	color:#232931;
	background-color: #4ecca3;
}
.not-selected{
	white-space: nowrap;
}
.file-size{
	color: #eeeeee;
}
code {
	font-size: calc(1em - 2px);
	color: #555;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
