.file,
.folder,
.headers {
	display: inline-grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	width: 100%;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}
.file-name {
	grid-column: span 5 / span 5;
	text-align: left;
	overflow-x: hidden;
	white-space: nowrap;
	margin-right: 0.5rem;
}
.file-size {
	grid-column: span 1 / span 1;
	white-space: nowrap;
	text-align: right;
}
.contents {
	display: contents;
}
.folder {
	color: #94d2bd;
}
.folder:hover,
.drive:hover {
	cursor: pointer;
}
.file:hover,
.folder:hover,
.selected {
	background-color: var(--color-2);
}

@media (min-width: 768px) {
	.file,
	.folder,
	.headers {
		grid-template-columns: repeat(9, minmax(0, 1fr));
	}
	.list {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
	.file-name {
		grid-column: span 8 / span 8;
	}
}
